:root {
    --Cor-Principal: #327cf2;
    --Cor-Secundária: #05060c;
    --Cor-Terciaria: #0b50c5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    position: relative;
}

/*MenuBar*/

.titulo {
    background: linear-gradient(to top, #05060c 0%, #05060c 50%, #327cf2 50%, #327cf2 100%);
    overflow: hidden;
}

.titulo img {
    width: 150px;
}

.titulo a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo a:hover:not(:first-child) {
    background-color: var(--Cor-Terciaria);
    color: black;
}

.titulo .icon {
    display: none;
}

/*Mobile da MenuBar*/

@media screen and (max-width: 719px) {
    .titulo img {
        width: 80px;
    }

    .titulo a:not(:first-child) {
        display: none;
    }

    .titulo a.icon {
        float: right;
        display: block;
    }

    .titulo i {
        font-size: 30px;
    }

}

@media screen and (max-width: 719px) {
    .titulo.responsive {
        position: relative;
    }

    .titulo.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .titulo.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*Slideshow*/

.sec-slide {
    width: 100%;
    height: auto;
    background-color: var(--Cor-Terciaria)
}

.container-do-slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.meuSlide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}