:root {
    --Cor-Principal: #327cf2;
    --Cor-Secundária: #05060c;
    --Cor-Terciaria: #0b50c5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

/*MenuBar*/

.titulo {
    background: linear-gradient(to top, #05060c 0%, #05060c 50%, #327cf2 50%, #327cf2 100%);
    overflow: hidden;
}

.titulo img {
    width: 150px;
}

.titulo a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
    font-size: 27px;
}

.titulo a:hover:not(:first-child) {
    background-color: var(--Cor-Terciaria);
    color: black;
}

.titulo .icon {
    display: none;
}

/*Mobile da MenuBar*/

@media screen and (max-width: 719px) {
    .titulo img {
        width: 80px;
    }

    .titulo a:not(:first-child) {
        display: none;
    }

    .titulo a.icon {
        float: right;
        display: block;
    }

    .titulo i {
        font-size: 30px;
    }

}

@media screen and (max-width: 719px) {
    .titulo.responsive {
        position: relative;
    }

    .titulo.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .titulo.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*Slideshow*/

.sec-slide {
    width: 100%;
    height: auto;
    background-color: var(--Cor-Terciaria)
}

.container-do-slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.meuSlide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

/*Área da história do time*/

.historia {
    width: 100%;
    height: auto;
    position: relative;
    background-color: var(--Cor-Principal);
}

.historia h1 {
    text-align: center;
    font-size: 35px;
    padding: 20px 0;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.column img {
    width: 100%;
}

.column p {
    max-width: 90%;
    font-size: 25px;
    background-color: var(--Cor-Terciaria);
    padding: 10px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Mobile da area da história do time*/

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        padding: 0;
    }

    .column p {
        max-width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .column p {
        font-size: 15px;
    }
}

/*Área dos futuros jogos*/

.jogos {
    width: 100%;
    height: auto;
    background-color: var(--Cor-Secundária)
}

.jogos h1 {
    text-align: center;
    color: #fff;
    font-size: 35px;
    padding: 20px 0;
}

.jogos img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.jogos p {
    text-align: center;
    color: #fff;
    font-size: 60px;
    margin-top: 0px;
}

/*Mobile da área dos futuros jogos*/

@media screen and (max-width: 600px) {
    .jogos img {
        width: 70%;
    }
}

/*Área dos produtos*/

.produtos {
    width: 100%;
    height: auto;
    position: relative;
    background-color: var(--Cor-Terciaria);
}

.produtos h1 {
    text-align: center;
    font-size: 30px;
}

.produtos h2 {
    text-align: center;
    font-size: 20px;
}

.carta {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.carta a {
    text-decoration: none;
    color: white;
}

.carta h1 {
    text-align: unset;
    font-size: unset;
}

.preco {
    color: gray;
    font-size: 22px;
}

.carta button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.carta button:hover{
    opacity: 0.7;
}